*,::before,*,::after{
    border: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
html,body{
    min-width: 200px;
    max-width: 100%;
    height: 100%;
}

body{
   max-height: fit-content; 
}
.ahn-hdr{
display: flex;
flex-direction: row;
justify-content: center;
align-items: center;
flex-basis: 100%;
height: 50px;
background-color: aliceblue;
position: relative;
}
.ahn-logo-pic{
    height: 50;
    width: 50px;
}
.ahn-hdr-lebel{
    min-width:5px;
}
@media screen and (max-width:400px){
    .ahn-hdr-lebel{
        display: block;
        font-size: 15px;
        font-weight: 50px;
    }   
}

 main{
    background-color: hsl(198, 25%, 92%);
    min-height: calc(100vh - 100px);
}
nav ul li>a{
    display: block;
    text-decoration: none;
    color: #03233f;
    width: auto;
}


nav{
    position:sticky;
    top: 0;
    padding: 0;
    margin: 0;
}
ul{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: left;
    align-items: center;
    background-color: rgb(178, 182, 176);
    padding:12px 0px;
    width: 100%;
}
li{
    list-style: none;
    /*border-left: 1px solid white;*/
    align-content: center;
    width: 20px;
    padding: 0;
    text-align: center;
    width: 120px;
    position: relative;
}

.s-menu-link{
    position: absolute;
    background-color:rgb(246, 250, 242);
    height:0%;
    width: 250px;
    top: 45px;
    justify-content: center;
    box-shadow: 0px 5px 5px 0px lightslategray;
    transition:.5s;
    padding: 0;
    margin: 0;
    visibility: hidden;
}
.l-btn:hover .s-menu-link{
    visibility: visible;
    height: 200px;
}

.s-menu-link>li{
    display: none;
    text-align: left !important;
    padding: 7px !important;
    width: 100% !important;
    align-content: center;
}
.l-btn:hover .s-menu-link li{
    display: block;
}
.s-menu-link>li:hover{
    background-color: rgb(156, 168, 228);
}
.s-menu-link>li>a{
    text-align: center;
    width: 100%;
    color: rgb(20, 22, 24);
}

nav ul li:hover{
    border-bottom: 2px solid rgb(5, 112, 161);
    cursor: pointer;
    -webkit-text-fill-color: aqua;
}

#search-box{
    padding: 7px;
    border: none;
}
.s-bx-label{
    margin: 0;
}
.search-area{
    align-items: center;
    margin-left: auto;
    margin-right: 5px;
}
button{
    border: none;
    padding: 7px;
    border-radius: 3px;
    background-color: aliceblue;
    cursor: pointer;
}
button:hover{
    background-color: aquamarine;
}
.f-img{
    width: 120px;
    height: 150px;
}
.f-photo{
    display: grid;
    grid-template-columns:repeat(2,200px);
    justify-content: center;
    overflow: hidden;
    width: 100%;
}
.p-s-container{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin: 0;
    padding: 0;
}
.img-box-row{
    margin: 10px;
}
.img-box-row:hover{
    transform: scale(1.2);
    transition: .5s;
}

@media (max-width:700px){
    .f-photo{
        display: flex;
        flex-wrap: wrap;
    }
.search-area{
    margin-left: 0;
}
.s-btn{
    margin-top: 2px;
}
}

h4{
    display: inline-block;
    border-bottom: 1px solid grey;
    padding: 7px;
    background-color: rgb(17, 221, 153);
    border-radius: 2px;
    border-bottom: 1px solid rgb(41, 3, 129);
    margin: auto;
    height: 50px;
    align-content: center;
    color: aliceblue;
}
.news-container{
    display: grid;
    grid-template-columns: repeat(4,200px);
}
@media (max-width:700px){
    .news-container{
        display: flex;
        flex-wrap: wrap;
    }
}
.news-photo{
    border: 1px solid grey;
    width: 150px;
    height: 50px;
    margin: 7px;
}
.Breaking-news{
    display: flex;
    justify-content: center;
}
.news-p-row:hover{
    transform: scale(1.2);
    transition: .5s;
}

.f-content{
    margin: 15px;
}
.l-tv-row a{
    display: block;
    text-decoration: none;
    padding: 10px;
}
.l-tv-row{
    box-shadow: 3px 0px 6px 0px rgb(196, 17, 17);
    width: 150px;
    background: rgb(121, 244, 96);
    margin: 10px;
}

.l-tv-row:hover{
    transform: scale(1.2);
    transition: .5s;
}
.l-tv-container{
    display: flex;
    justify-content: center;
    align-items: center;
}
.tv-content{
    display: grid;
    grid-template-columns: repeat(3,200px);
}
@media(max-width:700px) {
    .tv-content{
        display: flex;
        flex-wrap: wrap;
    }
}
.bd-tv-c-container{
    display: grid;
    grid-template-columns: repeat(4,200px);
}

.bd-t-list-row{
    width: 200px;
    margin: 10px;
}
.bd-t-pic{
    width: 150px;
    height: 50px;
}

@media screen and (max-width:700px){
    .bd-tv-c-container{
        display: flex;
        flex-wrap: wrap-reverse;
    }
}
/*----social-media-photo---add-css---*/

.a-footer{
    background-color: hwb(17 14% 79%);
    width: 100%;
    height:50px;
    text-align: center;
    color: aliceblue;
    padding: 5px;
}
    
.card{
    display: contents;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    background-color: lab(22.32% 35.45 23.72);
}
.card-body{
    display: flex;
    flex-direction: row;
    background-color: rgb(51, 99, 6);
    justify-content: center;
    align-items: center;
    width: 100%;
    padding: 10px;
}
.card-header{
    background-color: rgb(11, 75, 75);
    color: aliceblue;
    padding: 10px;
}
.so-m-img{
    height: 30px;
    width: 30px;
    border-radius: 50%;
}
.s-m-row{
    margin: 5px;
    padding: 0;
}